*{
    margin: 0;
    padding: 0;
}

.main{

    width: 100%;
    background: linear-gradient(to top, purple, black );
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: 0px;
    border: none;
}

.navbar:hover{
    background-color: black;
}

.icon{
    width: 500;
    float:left
}

.logo{
    color: rgb(16,90,185,255);
    font-size: 30px;
    font-family: 'Roboto Condensed',sans-serif;
    padding-left: 30px;
    padding-top: 25px;
    cursor: pointer;
}

.menu{
    width: 400px;
    height: 75px;
    float: right;
}

.navbarlist{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarlist li{
    list-style: none;
    margin-right: 100px;
    margin-top: 31px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(16,90,185,255);
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

.navbarlist li:hover{
    color: rgb(254,0,0,255);
    cursor: pointer;
}

.content{
    width: 100%;
    height: 75vh;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto Condensed',sans-serif;
    color: black;
}

.partitle span{
    color: rgb(16,90,185,255);
}

.partitle{
    padding-top: 50px;
    color: black;
    font-size: 50px;
}

.para{
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.quote{
    border: none;
    width: 200px;
    height: 50px;
    background-color: black;
    margin-top: 70px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.quote a{
    text-decoration: none;
    color: rgb(16,90,185,255);
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: bold;
}

.quote a:hover{
    color: rgb(254,0,0,255);
}

.botbar{
    width: 100%;
    height: 121px;
}

.botbar:hover{
    background-color: black;
}

.botbardevice{
    margin-left: 300px;
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    float: left;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto Condensed',sans-serif;
}

.footernames{
    font-size: 25px;
    color: rgb(16,90,185,255);
    cursor: pointer;
}

.footerlists{
    list-style: none;
    font-size: 18px;
    color: rgb(16,90,185,255);
    cursor: pointer;
}

.f1:hover{
    text-decoration: underline;
}

.f2:hover{
    text-decoration: underline;
}

.f3:hover{
    text-decoration: underline;
}

.f4:hover{
    text-decoration: underline;
}

.f5:hover{
    text-decoration: underline;
}

.f6:hover{
    text-decoration: underline;
}

.f7:hover{
    text-decoration: underline;
}

.foot{
    margin-left: 120px;
}

.logoicons{
    margin-left: 200px;
}

.logoicons a{
    text-decoration: none;
    color: rgb(16,90,185,255);
}

.logoicons ion-icon{
    color: rgb(16,90,185,255);
    font-size: 30px;
    transition: 0.2s ease-in-out;
}

.logoicons ion-icon:hover{
    color: rgb(254,0,0,255);
}